<?xml version="1.0"?>
<launch>
    <!-- Simulator Bridge -->
    <include file="$(find styx)/launch/server.launch" />

    <!--DBW Node -->
    <include file="$(find twist_controller)/launch/dbw_sim.launch"/>

    <!--Waypoint Loader -->
    <include file="$(find waypoint_loader)/launch/waypoint_loader.launch"/>

    <!--Waypoint Follower Node -->
    <include file="$(find waypoint_follower)/launch/pure_pursuit.launch"/>

    <!--Waypoint Updater Node -->
    <include file="$(find waypoint_updater)/launch/waypoint_updater.launch"/>

    <!--Traffic Light Detector Node -->
    <include file="$(find tl_detector)/launch/tl_detector.launch"/>

    <!--Traffic Light Locations and Camera Config -->
    <param name="traffic_light_config" textfile="$(find tl_detector)/sim_traffic_light_config.yaml" />
    <!--RQT PLOt -->
    <!--node name="base_point_current_pose" pkg="rqt_plot" type="rqt_plot" args="/base_waypoints/pose/pose/points/x:y /current_pose/pose/position/x:y" required="true"/-->
    <!--Matplolib real-time-->
    <!--node pkg="twist_controller" type="plot.py" name="plot_node"/-->
</launch>
